<!-- Email Body -->
<tr>
  <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
    <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
      <!-- Body content -->
      <tr>
        <td class="content-cell">
          <p>Hallo Mandy,</p>
          <p>
            Anbei die Rechnungen für diesen Monat.
          </p>
          <p>
            Dies ist eine automatisch generierte E-Mail. Bei Rückfragen bitte direkt an Michael wenden.
          <p>
            Viele Grüße,<br>
            Das CFHH Team
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
