<% if @open_bills.any? %>
<div class="col-12 alert alert-danger" role="alert">
  <h5 class="alert-heading text-center"><%= t('shared.open_bills_count', count: @open_bills.count) %></h5>
  <p class="text-center"><%= link_to t('shared.bills_link'), bills_path%></p>
</div>
<% end  %>
