<footer class="footer">
    <div class="container">
    <% if current_user.blank? %>
        <%= link_to('zurück', root_path) unless current_page?(root_path) %>
        <%= link_to('Impressum', imprint_policy_path) unless current_page?(imprint_policy_path) %>
        <%= link_to('Datenschutzerklärung', data_policy_policy_path) unless current_page?(data_policy_policy_path) %>
    <% end %>
    </div>
</footer>
