<footer class="footer">
    <div class="container">
    <% if current_user.blank? %>
        <% if current_page?(imprint_policy_path) %>
            <%= link_to('zurück', root_path) %>
        <% else %>
            <%= link_to('Impressum', imprint_policy_path) %>
        <% end %>
        <br />
        <%= link_to('Datenschutzerklärung', data_policy_policy_path) %>
    <% end %>
    </div>
</footer>
