<div class="card col-12">
  <div class="card-block">
    <h3 class="card-title text-center"><%= t('admin.products.edit.headline', product: @product.title)%></h3>
    <%= render 'form' %>
  </div>
</div>
