body { background: #EBEBEB !important;}

.card {
    margin-bottom: 1rem;
    @extend .card;
}

.button {
  @extend .btn;
  @extend .btn-primary;
  text-align: center;
}

.button-cart {
  @extend .col-md-4;
  @extend .col-sm-12;
  @extend .offset-md-4;
  @extend .col;
  @extend .align-self-center;
  @extend .btn;
  @extend .btn-primary;
}

.admin__button-cart {
  @extend .col-12;
  @extend .col;
  @extend .align-self-center;
  @extend .btn;
  @extend .btn-primary;
}
