body { background: #EBEBEB !important;}

.card {
    margin-bottom: 1rem;
    @extend .card;
}

.button {
  @extend .col-md-2;
  @extend .btn;
  @extend .btn-primary;
  text-align: center;
}

.button-cart {
  @extend .col-12;
  @extend .btn;
  @extend .btn-primary;
  margin-bottom: 1rem;
}
