<div class="card row">
  <div class="card-block">
    <h3 class="card-title text-center"><%= t('admin.users.headline')%></h3>
    <h6 class="card-subtitle mb-2 text-muted text-center"><%= t('admin.users.description') %></h6>

  </div>
</div>
