<div class="card">
  <div class="card-header">
    <h4 class="card-title text-center"><%= t('cart.headline')%></h4>
  </div>
  <div class="card-block">
    <div id="cart-table">
      <% if @cart.tab_items.any? && @cart.persisted? %>
        <%= render partial: 'cart_table', locals: {cart: @cart} %>
      <% else %>
      <p>
        Keine Waren gewählt
      </p>
      <% end %>
    </div>
  </div>
</div>
