<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <%= wicked_pdf_image_tag 'logo.png', class: "bill__logo--size bill__logo--center" %>
    <%= yield %>
    </div>
    <footer class="footer--center footer">
      <p class="col-12 text-muted text-center">
        Hamburg Elite Fitness GmbH
        Steilshooper Str. 35 |
        22305 Hamburg |
      </p>
      <p class="">
        Bankverbindung: Deutsche Bank 20070000 | Konto: 0864884 </br>
        IBAN: DE 22 2007 0000 0086 4884 00 | BIC: DEUTDEHHXXX
      </p>
    </footer>
  </body>
</html>
