<h3 class="col-sm-12"><strong>Impressum</strong></h3>
<p class="col-sm-12">
  <br />Betreiber der Website:
  <br />Nicolas Schwartau
  <br />Kaemmerufer 7
  <br />22303 Hamburg
  <br />E-Mail: nico@crossfithh.de
</p>
<p class="col-sm-12">
  Verantwortlich nach ยง 55 Abs.2 RStV
  <br />Hamburg Elite Fitness GmbH
  <br />Michael Murphy
  <br />Steilshooper Strasse 35
  <br />22305 Hamburg
  <br />michael@crossfithh.de
  <br />Website: www.crossfithh.de
</p>